.combo-block__picture_img-one {
	background-image: url(1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.combo-block__picture_img-two {
	background-image: url(2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.combo-block__picture_img-three {
	background-image: url(3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.combo-block__picture_img-four {
	background-image: url(4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.combo-block__picture_img-five {
	background-image: url(5.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.combo-block__picture_img-six {
	background-image: url(6.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.combo-block__picture_img-seven {
	background-image: url(7.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.combo-block__picture_img-eight {
	background-image: url(8.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.combo-block__picture_img-nine {
	background-image: url(9.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.combo-block__picture_img-ten {
	background-image: url(10.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}